<footer>
    <div class="page-top">
        <a class="head-link" id="js-page-top" href="#">トップへもどる</a>
    </div>
    <div class="copyright">
        <small>©︎ 2021 YUUU</small>
        
    </div>
</footer>