<header>
    
      <div class="header-lists">
        <ul class="head-list">
            <li class="head-item">
                <a class="head-link" href="#product">Product</a>
            </li>
            <li class="head-item"> 
                <a class="head-link" href="#about">About</a>
            </li>
            <li class="head-item"> 
                <a class="head-link" href="#skill">Skill</a>
            </li>
            <li class="head-item">
                <a class="head-link" href="#sns">Contact</a>
            </li>
        </ul>
      </div>
   
</header>