<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--cssを読み込む-->
    <link rel="stylesheet" href="/css/style.css">
    <!--Font Awesomeを読み込む-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    
    <%- include('header'); %>

 <div class="main"> 
    <div class="top">
        <div class="top-wrapper">
            <div class="container">
                <div class="top-section">
                    <div class="top-sentence">
                        <h1 id="page-top">Kawasaki Yuuki<br>PORTFOLIO</h1>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <!-- product-section -->
    <div class="middle-wrapper">
        <div class="container">
            <div id="product" class="product-section">
                <div class="middle-sentence">
                    <h2>Product</h2>
                    <h2>[プログラミング]</h2>
                </div>
                <div class="middle-contents">
                    <div class="middle-item">
                        <a href=""></a>
                          <img src="image/tic.jpg" alt=""　width="300" height="300">
                        <div class="middle-item-sentence">
                            <div class="product-title">○×ゲーム</div>
                            <div class="product-text">HTML / CSS / JavaScript / Node.js </div>
                            <div class="product-link">
                                <a href="http://white8.stars.ne.jp/">リンク</a>
                            </div>
                        </div>
                    </div>
                    <div class="middle-item">
                        <a href=""></a>
                          <img src="image/workshift.jpg" alt=""　width="300" height="300">
                        <div class="middle-item-sentence">
                            <div class="product-title">半自動シフト表作成プログラム</div>
                            <div class="product-text">Python</div>
                            <div class="product-link">
                                <a href="">リンク</a>
                            </div>
                        </div>    
                    </div>
                    <div class="middle-item">
                        <a href=""></a>
                          <img src="image/middle.jpg" alt=""　width="300" height="300">
                        <div class="middle-item-sentence">
                            <div class="product-title">WEBサイト</div>
                            <div class="product-text">HTML / CSS / JavaScript / Node.js </div>
                            <div class="product-link">
                                <a href="https://website-node1.herokuapp.com/">リンク</a>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="middle-sentence">
                    <h2>[イラスト]</h2>
                </div>
                <div class="middle-contents">
                    <div class="middle-item">
                        <a href=""></a>
                          <img src="image/irasuto1.jpg" alt=""　width="300" height="300">
                        <div class="middle-item-sentence">
                            <div class="product-title">碧のグッピー</div>
                            <div class="product-text">guppy of blue</div>
                            <div class="product-link">
                                
                            </div>
                        </div>
                    </div>
                    <div class="middle-item">
                        <a href=""></a>
                          <img src="image/irasuto2.jpg" alt=""　width="300" height="300">
                        <div class="middle-item-sentence">
                            <div class="product-title">doubutuno tegata</div>
                            <div class="product-text">Bills of animal</div>
                            <div class="product-link">
                               
                            </div>
                        </div>    
                    </div>
                    <div class="middle-item">
                        <a href=""></a>
                          <img src="image/middle.jpg" alt=""　width="300" height="300">
                        <div class="middle-item-sentence">
                            <div class="product-title"></div>
                            <div class="product-text"></div>
                            <div class="product-link">
                                <a href=""></a>
                            </div>
                        </div>    
                    </div>
                </div>
                
            </div>
        </div>

        <!-- about-section -->
        <div class="container">
            <div class="about-section">
                <div class="middle-sentence">
                    <h2 id="about">About</h2>
                    <p>
                        
                    </p>
                </div>
                <div class="about-contents">
                    
                    <div class="about-sentence">
                        <h3>カワサキ ユウキ</h3>
                        
                        <h4>大学院生</h4>
                        <br>
                        <p>□年齢　24歳(1998/2/7)</p>
                        <p>□出身　熊本県の山奥</p>
                        <p>□居住地　京都府</p>
                        <p>-----------------------------------------</p>
                        <p>趣味は[映画、アニメ、海外ドラマ鑑賞][サイクリング][イラスト制作]</p>
                    </div>
                    <div class="about-image">
                        <img src="/image/about.jpg" alt="" width="200" height="200">
                    </div>
                </div>
            </div>
        </div>

        <!-- skill-section -->
        
            <div class="skill-section">
                <div class="skill-container">
                    <div class="middle-sentence">
                        <h2 id="skill">Skill</h2>
                        <!-- <p>今学んでいる言語などです！</p> -->
                    </div>
                    <div class="skill-contents">
                        <div class="skill-lists">
                            <div class="skill-item">
                                <div class="skill-image">
                                    <i class="fab fa-html5 skill-ikon"></i>
                                </div>
                                <div class="skill-body">
                                    <h3 class="skill-title">HTML5</h3>
                                    <div class="skill-rate">
                                        <!-- <div class="rate rate3"></div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-image">
                                    <i class="fab fa-css3-alt skill-ikon"></i>
                                </div>
                                <div class="skill-body">
                                    <h3 class="skill-title">CSS3</h3>
                                    <div class="skill-rate">
                                        <!-- <div class="rate rate3"></div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-image">
                                    <i class="fab fa-js-square skill-ikon"></i>
                                </div>
                                <div class="skill-body">
                                    <h3 class="skill-title">JavaScript</h3>
                                    <div class="skill-rate">
                                        <!-- <div class="rate rate2"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-lists">
                            <div class="skill-item">
                                <div class="skill-image">
                                    <i class="fab fa-python skill-ikon"></i>
                                </div>
                                <div class="skill-body">
                                    <h3 class="skill-title">Python</h3>
                                    <div class="skill-rate">
                                        <!-- <div class="rate rate2"></div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-image">
                                    <i class="fab fa-node skill-ikon"></i>
                                </div>
                                <div class="skill-body">
                                    <h3 class="skill-title">Node.js</h3>
                                    <div class="skill-rate">
                                        <!-- <div class="rate rate2"></div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-image">
                                    <i class="fab fa-aws skill-ikon"></i>
                                </div>
                                <div class="skill-body">
                                    <h3 class="skill-title">AWS</h3>
                                    <div class="skill-rate">
                                        <!-- <div class="rate rate1"></div> -->
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
                
       

        <!-- sns-section -->
        <div class="container">
            <div class="sns-section">
                <div class="middle-sentence">
                    <h2 id="sns">Contact</h2>
                    <p>お問い合わせはこちらからお願いいたします。</p>
                </div>
                <div class="sns-contents">
                    <ul class="sns-lists">
                        <li class="sns-item">
                            <a class="sns-link" href="https://www.instagram.com/yuuuvlog" target="_blank">          <!-- target="_blankとは、新規ウィンドウで開く -->
                                <i class="fab fa-instagram sns-ikon"> Instagram</i>
                            </a>
                        </li>
                        <li class="sns-item">
                            <a class="sns-link" href="https://twitter.com/yuuuu_it_K7" target="_blank">
                                <i class="fab fa-twitter-square sns-ikon"> Twitter</i>
                            </a>
                        </li>
                    </ul>
                    <div class="contact-text">@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
 </div>

    <%- include('footer'); %>
    <script src="script.js"></script>
</body>
</html>